{% extends 'base.html.twig' %}
{% block body %}
    <div id="app">
        <App></App>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
